/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Add Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Add Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
